.app {
  width: 100vw;
  height: max-content;
  position: relative;
}

.pageContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figuresContainer{
  width: min(800px, 100%);
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figureContainer {
  /* filter: invert(); */
  width: 50%;
  height: 100%;
  position: relative;
  transition: filter 0.4s;
}

.locked {
  width: 10%;
  opacity: 0.5;
}

.figureContainer img {
  transition: scale 0.4s ease-in-out;
}

.figuresContainer img {
  filter: blur(0px) invert();
}

.figuresContainer:hover img {
  filter: blur(3px) invert();
  -webkit-user-drag: none;
  user-select: none;
}

.figuresContainer:hover img:hover {
  filter: blur(0px) invert();
  scale: 1.2;

}

.plasmaVideo {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opactiy 2s;
  filter: blur(20px);
}

.figureContainer.center:hover ~ .plasmaVideo {
  opacity: 0.8;
  transition: opacity 1s;
}

.menuTitle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  vertical-align: text-bottom;
  font-size: 2em;
  height: 2.5em;
}

/* .figureContainer:hover ~ .figureContainer.plasmaModMix{
  background-color: transparent;
} */
/* @media only screen and (hover: none) and (pointer: coarse){

  .figuresContainer:hover img {
    filter: blur(0px);
  }

  .figuresContainer:hover img:hover {
    filter: blur(0px);
  }
  
} */