.modelContainer {
    display: grid;
    place-items: center;
    height: 70vh;
    width: 100%;
    z-index: 2;
}

.modelContainer model-viewer {
    width: clamp(300px, 60%, 1000px);
    height: 100%;
    min-height: 300px;
    border-radius: 62px;
}

.modelContainer .previewImageContainer {
    width: clamp(300px, 60%, 1000px);
    height: 100%;
    min-height: 350px;
    border-radius: 62px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previewImageContainer img {
    border-radius: 20px;
    height: 80%;
    object-fit: contain;
    transition: box-shadow 0.3s, transform 0.3s;
}
.previewImageContainer img:hover {
    transform: translate(-15px, -15px);
    box-shadow: 5px 5px 0px rgb(228, 252, 255),
                10px 10px 0px rgb(162, 163, 163),
                15px 15px 0px rgb(88, 88, 88);
}

.modelContainer .toggleContainer .toggle{
    width: 10rem;
    height: 5rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 3em;
    position: relative;
    display: flex;
    font-size: 3em;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modelContainer .toggleContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
            
.toggle .option {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.toggle input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.toggle input:checked ~ .option {
    background-color: black;
    color: white;
}

.openInfo {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: black;
    border: 1em solid black;
    position: absolute;
    right: clamp(2em, 10vw, 50em);
    user-select: none;
    cursor: pointer;
}

@keyframes panic {
    0% {
        /* scale: 1; */
        transform: translateX(0);
    }

    25% {
        transform: translateY(1.5%);
    }

    30% {
        transform: translateX(-3%) translateY(-2%);
    }
}

.openInfo:hover {
    animation: panic 0.1s ease infinite alternate;
}

.infoContainer {
    width: 60vw;
    min-width: 300px;
    max-width: 400px;
    min-height: 300px;
    max-height: 400px;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    font-size: 1.3em;
    /* z-index: 0; */
}

.infoContainerRight {
    position: absolute;
    opacity: 1;
    right: 5%;
}

.infoContainerBottom {
    opacity: 0;
    /* pointer-events: none; */
    position: absolute;
    mix-blend-mode: subtract;
    top: 100%;
}

.titleIcon {
    width: 100%;
    flex: 0.15;
    display: flex;
    gap: 1.5em;
}

.productTitle {
    width: 80%;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 800;
}

.cartIcon {
    position: relative;
    width: 20%;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.cartIcon img {
    transform: scale(0.6);
}

.price {
    width: max-content;
    flex: 0.15;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.productDescription {
    width: 100%;
    flex: 0.7;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 15px;
    font-size: 1.7rem;
    height: max-content;
}

.closeInfoContainer {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    top: -30px;
    right: -30px;
    cursor: pointer;
}

.closeBottomInfoContainer {
    top: 6px;
    cursor: pointer;
}

.closeInfoContainer img {
    transform: scale(0.5);
}



@media screen and (max-width: 1330px) {
    .infoContainerRight {
        opacity: 0;
        pointer-events: none;
    }

    .infoContainerBottom {
        opacity: 1;
    }

}

@media screen and (max-width: 768px) {
    .toggleContainer {
        width: 100%;
        padding: 2em 4em; 
    }
    .toggleContainer .toggle{
       display: flex;
    }
}