.container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}


.genericTitle {
    display: grid;
    place-items: center;
    font-size: 8em;
    font-weight: 700;
    height: 100vh;
    width: 100vw;
    
}